.block1{
    margin-top: 0;
    padding-top: 10px;
    border-right: 2px  solid #e5d8d8;
    height: 800px;
}

.left {
    width: 70%;
    margin-right: 3%;
}

.right{
    width: 30%; /* Можно задать любую другую ширину блока */

}

.castom_row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}